body {
	margin: 0;
	padding: 0;
}

.wrapper {
	width: 1250px;
	height: auto;
	border: 1px solid;
	margin: auto;
}


						/* Header */


header {
	width: 100%;
	height: 80px;
	border-bottom: 1px solid;
	text-align: center;
}


						/* Menu */


nav {
	height: 50px;
	border-bottom: 1px solid;
}

nav ul {
	margin:0;
	padding: 0;
	list-style: none;
}

nav ul li {
	float: left;
}

nav ul li a {
	text-decoration: none;
	color: black;
	font-size: 20px;
	line-height: 50px;
	margin: 0px 20px 0px 20px;
}


						/* Content Section */


section {
	width: 100%;
	min-height: 300px;
}

.left {
	width: 350px;
	min-height: 300px;
	border-right: 1px solid;
	float: left;
}

.right {
	width: 899px;
	min-height: 300px;
	float: left;
}


						/* Footer */				


footer {
	border-top: 1px solid;
	clear: both;
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
}